/* ==================CUSTOM SCROLLBAR================== */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #98c5bd; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a2c9c2; 
}
/* ==================END================== */

*{
  transition: all 0.3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Krub', sans-serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  color: #6d867c;
}

h1, h2, h3 {
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 1% 2%;
}

.navigation-top {
  display: flex;
  position: sticky;
  top: 0;
  max-width: 100%;
  list-style: none;
  background: #3ed9bc;
  flex-direction: row;
  padding: 0;
  justify-content: flex-end;
  margin: 0 auto;
}

.navigation-top .material-icons {
  margin: 0 10% 0 0;
}

.navigation-top li {
  margin: 0 2%;
  padding: 2%;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.navigation-top a {
  color: #589187;
}

#main-container {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  background: #f7faf4;
  animation: reveal 0.5s ease-in;
}

.page-container {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: scroll;
}

.half-container {
  height: 100%;
  width: 45%;
  overflow: overlay;
}

.section-container, .section-container-flat {
  max-width: 85%;
  min-width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.section-container-flat {
  flex-direction: row;
  justify-content: space-between;
}

.material-icons {
  color: #58efdb;
}

.loader {
  position: absolute;
  top: 30%;
  left: 48%;
}

.loader .material-icons {
  animation: loader 1.5s ease-in-out infinite;
  font-size: 90px;
}

.two-buttons-horizontal {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-primary {
  width: 160px;
  margin: auto;
  display: flex;
  align-items: center;
  background: #5abaa7;
  color: #c9fff6;
  border-radius: 5px;
  justify-content: space-around;
}

.button-primary:hover a {
  color: white;
}

.button-primary a {
  color: #589187;
}

/* ==================EFFECTS================== */
.navigation-top a:hover {
  color: white;
}

.nav-link-container:hover > .material-icons {
  transform: translateY(-5px) scale(1.05);
  filter: opacity(1)!important;
}

/* ==================MOBILE================== */
