*{
  transition: all 0.3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Krub', sans-serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  color: #6d867c;
}

h1, h2, h3 {
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
}

#main-container {
  max-width: 100%;
  background: #f7faf4;
}

.navigation-top {
  display: flex;
  position: sticky;
  top: 0;
  max-width: 100%;
  list-style: none;
  background: #3ed9bc;
  flex-direction: row;
  padding: 0;
  justify-content: flex-end;
  margin: 0 auto;
}

.navigation-top li {
  margin: 0 2%;
  padding: 2%;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.material-icons {
  color: #58efdb;
  margin: 0 10% 0 0;
}

.navigation-top a {
  color: #589187;
}

.loader .material-icons {
  animation: loader 0.7s ease-in-out infinite;
}

.two-buttons-horizontal {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-primary {
  width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  background: #5abaa7;
  color: #c9fff6;
  border-radius: 5px;
}

.button-primary:hover a {
  color: white;
}

.button-primary a {
  color: #589187;
}

/* ==================EFFECTS================== */
.navigation-top a:hover {
  color: white;
}

.nav-link-container:hover > .material-icons {
  transform: translateY(-5px) scale(1.05);
  filter: opacity(1)!important;
}

/* ==================MOBILE================== */
