@import "./variables.scss";

.login-picker {
  text-align: center;
  margin: 2% auto;
  width: 30%;
}

.login-picker .button-primary {
  margin: 2% auto!important;
}

.login-form {
  text-align: center;
  font-weight: 700;
  margin: auto;
  width: 60%;
  display: flex;
  border: 2px solid $dark2;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  background: white;
}

.login-form div {
  padding: 5px;
  margin: 10px auto;
  width: 90%;
}

.login-form input {
  width: 75%;
  height: 30px;
  border: 2px solid $yellow_dark;
  border-radius: 5px;
  padding: 1%;
  color: $green8;
}

.login-form .button-primary {
  color: $green2;
  margin: 2% auto;
}