@import "./variables.scss";

.navigation-top {
    display: flex;
    position: sticky;
    top: 0;
    max-width: 100%;
    list-style: none;
    background: $green6;
    flex-direction: row;
    padding: 0;
    justify-content: flex-end;
    margin: 0 auto;
    &li {
    margin: 0 2%;
    padding: 2%;
    }
    &a {
        color: $green4;
        &:hover {
            color: white;
        }
    }
    &.material-icons {
        margin: 0 10% 0 0;
    }
    &.nav-link-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    }
  }
  
  .nav-link-container:hover > .material-icons {
    transform: translateY(-5px) scale(1.05);
    filter: opacity(1)!important;
  }