@import "./variables.scss";

#profile .section-container {
  height: 100%;
  justify-content: start;
}

.section-container .events-feed-container,
.section-container .birthdays-feed-container,
.section-container .calendar-container {
  width: 90%;
  height: 40%;
  background: $light1;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2% 0;
}

.events-feed-container .section-headers,
.birthdays-feed-container .section-headers,
.calendar-container .section-headers {
  background: $dark1;
  padding: 2%;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 9px;
}

.birthdays-feed-container h4,
.events-feed-container h4,
.calendar-container h4 {
  margin: 0;
}

#profile .section-container-flat {
  height: 100%;
  max-width: 100%;
  width: 100%;
}