/*===========GREEN===========*/
$green1: #98c5bd;
$green2: #c9fff6;
$green3: #5abaa7;
$green4: #589187;
$green5: #58efdb;
$green6: #3ed9bc;
$green7: #a2c9c2;
$green8: #6d867c;
$light1: #f4faf9;

/*===========YELLOW===========*/
$yellow_dark: #7c5b1373;

/*===========BLACK===========*/
$dark1: #2b1a01eb;
$dark2: #8d7d7d96;
